.message {
  color:#333;
  background: white;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-flex-direction: row;
  flex-direction:  row;
  justify-content: flex-end;
  overflow-wrap: break-word;
}

#search_form ul {
    list-style-type: none;
}

#search_form input[type=radio] {
    margin-right: 5px;
}

.separator {
    border-bottom: 1px dotted #B3A9A9;
}

body {
    background: #d3d3d3
}

